In [4]:
pip install --upgrade pandas

Requirement already satisfied: pandas in c:\users\elhady\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\elhady\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.22.4 in c:\users\elhady\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\elhady\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\elhady\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\elhady\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [128]:
import numpy as np

In [5]:
import pandas as pd

In [11]:
from selenium.webdriver.common.by import By

In [6]:
from selenium import webdriver

In [7]:
driver = webdriver.Chrome()

In [8]:
driver.get("https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW")

In [102]:
All_Movies= driver.find_elements('xpath',"//td")

In [104]:
for movi in All_Movies:
     print(movi.text)

1
Avatar
$2,923,706,026
2009
2
Avengers: Endgame
$2,799,439,100
2019
3
Avatar: The Way of Water
$2,320,250,281
2022
4
Titanic
$2,264,750,694
1997
5
Star Wars: Episode VII - The Force Awakens
$2,071,310,218
2015
6
Avengers: Infinity War
$2,052,415,039
2018
7
Spider-Man: No Way Home
$1,922,598,800
2021
8
Jurassic World
$1,671,537,444
2015
9
The Lion King
$1,663,079,059
2019
10
The Avengers
$1,520,538,536
2012
11
Furious 7
$1,515,342,457
2015
12
Top Gun: Maverick
$1,495,696,292
2022
13
Frozen II
$1,453,683,476
2019
14
Barbie
$1,445,638,421
2023
15
Avengers: Age of Ultron
$1,405,018,048
2015
16
The Super Mario Bros. Movie
$1,361,992,475
2023
17
Black Panther
$1,349,926,083
2018
18
Harry Potter and the Deathly Hallows: Part 2
$1,342,480,797
2011
19
Star Wars: Episode VIII - The Last Jedi
$1,334,407,706
2017
20
Jurassic World: Fallen Kingdom
$1,310,469,037
2018
21
Frozen
$1,285,048,126
2013
22
Inside Out 2
$1,267,918,459
2024
23
Beauty and the Beast
$1,266,115,964
2017
24
Incredibles 2
$1,243,225,667
2018
25
The Fate of the Furious
$1,236,009,236
2017
26
Iron Man 3
$1,215,577,205
2013
27
Minions
$1,159,457,503
2015
28
Captain America: Civil War
$1,155,046,416
2016
29
Aquaman
$1,152,028,393
2018
30
The Lord of the Rings: The Return of the King
$1,151,456,948
2003
31
Spider-Man: Far from Home
$1,132,679,685
2019
32
Captain Marvel
$1,131,416,446
2019
33
Transformers: Dark of the Moon
$1,123,794,079
2011
34
Skyfall
$1,108,594,137
2012
35
Transformers: Age of Extinction
$1,104,054,072
2014
36
Jurassic Park
$1,103,086,582
1993
37
The Dark Knight Rises
$1,085,289,416
2012
38
Joker
$1,078,958,629
2019
39
Star Wars: Episode IX - The Rise of Skywalker
$1,077,022,372
2019
40
Toy Story 4
$1,073,841,394
2019
41
Toy Story 3
$1,067,316,101
2010
42
Pirates of the Caribbean: Dead Man's Chest
$1,066,179,747
2006
43
Rogue One: A Star Wars Story
$1,058,684,742
2016
44
Aladdin
$1,054,304,000
2019
45
Pirates of the Caribbean: On Stranger Tides
$1,046,721,266
2011
46
Star Wars: Episode I - The Phantom Menace
$1,046,515,409
1999
47
Harry Potter and the Sorcerer's Stone
$1,037,913,579
2001
48
Despicable Me 3
$1,034,800,131
2017
49
Finding Dory
$1,029,266,989
2016
50
Zootopia
$1,025,521,689
2016
51
Alice in Wonderland
$1,025,468,216
2010
52
The Hobbit: An Unexpected Journey
$1,017,106,749
2012
53
The Dark Knight
$1,008,524,647
2008
54
Jurassic World: Dominion
$1,001,978,080
2022
55
The Lion King
$976,850,709
1994
56
Oppenheimer
$975,227,046
2023
57
Despicable Me 2
$970,766,005
2013
58
The Jungle Book
$967,724,775
2016
59
Jumanji: Welcome to the Jungle
$962,544,585
2017
60
The Hobbit: The Battle of the Five Armies
$962,253,946
2014
61
Pirates of the Caribbean: At World's End
$961,691,209
2007
62
Harry Potter and the Deathly Hallows: Part 1
$960,897,696
2010
63
The Hobbit: The Desolation of Smaug
$959,079,095
2013
64
Doctor Strange in the Multiverse of Madness
$955,775,804
2022
65
The Lord of the Rings: The Two Towers
$951,550,637
2002
66
Harry Potter and the Order of the Phoenix
$942,603,391
2007
67
Finding Nemo
$941,637,960
2003
68
Minions: The Rise of Gru
$940,203,765
2022
69
Harry Potter and the Half-Blood Prince
$934,866,401
2009
70
Shrek 2
$932,396,221
2004
71
Bohemian Rhapsody
$910,813,521
2018
72
The Battle at Lake Changjin
$902,548,476
2021
73
Harry Potter and the Goblet of Fire
$897,468,952
2005
74
Spider-Man 3
$895,735,062
2007
75
The Lord of the Rings: The Fellowship of the Ring
$887,433,303
2001
76
Ice Age: Dawn of the Dinosaurs
$886,686,817
2009
77
Harry Potter and the Chamber of Secrets
$882,545,232
2002
78
Spider-Man: Homecoming
$880,918,840
2017
79
Spectre
$880,707,597
2015
80
Ice Age: Continental Drift
$877,244,782
2012
81
The Secret Life of Pets
$875,698,161
2016
82
Batman v Superman: Dawn of Justice
$874,362,803
2016
83
Wolf Warrior 2
$870,325,439
2017
84
Star Wars: Episode III - Revenge of the Sith
$868,390,560
2005
85
The Hunger Games: Catching Fire
$865,011,746
2013
86
Guardians of the Galaxy Vol. 2
$863,756,903
2017
87
Black Panther: Wakanda Forever
$859,208,836
2022
88
Inside Out
$858,852,998
2015
89
Venom
$856,085,161
2018
90
Thor: Ragnarok
$855,301,806
2017
91
The Twilight Saga: Breaking Dawn - Part 2
$848,593,948
2012
92
Guardians of the Galaxy Vol. 3
$845,555,777
2023
93
Inception
$839,030,630
2010
94
Transformers: Revenge of the Fallen
$836,303,693
2009
95
Spider-Man
$825,776,725
2002
96
Wonder Woman
$823,970,682
2017
97
Hi, Mom
$822,009,764
2021
98
Independence Day
$817,400,891
1996
99
Fantastic Beasts and Where to Find Them
$816,037,575
2016
100
Coco
$814,641,172
2017
101
Shrek the Third
$813,367,380
2007
102
Harry Potter and the Prisoner of Azkaban
$808,162,450
2004
103
Jumanji: The Next Level
$801,693,929
2019
104
Pirates of the Caribbean: Dead Men Tell No Tales
$795,922,298
2017
105
E.T. the Extra-Terrestrial
$792,910,554
1982
106
Mission: Impossible - Fallout
$791,658,205
2018
107
2012
$791,217,826
2009
108
Spider-Man 2
$789,728,142
2004
109
Fast & Furious 6
$788,683,342
2013
110
Indiana Jones and the Kingdom of the Crystal Skull
$786,636,033
2008
111
Deadpool 2
$785,896,632
2018
112
Deadpool
$782,837,347
2016
113
Star Wars: Episode IV - A New Hope
$775,398,507
1977
114
No Time to Die
$774,153,007
2021
115
Guardians of the Galaxy
$773,350,376
2014
116
Gravity
$773,031,617
2013
117
The Batman
$772,245,583
2022
118
Thor: Love and Thunder
$760,928,081
2022
119
Fast & Furious Presents: Hobbs & Shaw
$760,732,926
2019
120
The Da Vinci Code
$760,006,945
2006
121
Maleficent
$759,853,685
2014
122
The Hunger Games: Mockingjay - Part 1
$759,159,711
2014
123
The Amazing Spider-Man
$758,682,352
2012
124
Shrek Forever After
$752,600,867
2010
125
Suicide Squad
$749,200,054
2016
126
Madagascar 3: Europe's Most Wanted
$746,921,274
2012
127
X-Men: Days of Future Past
$746,045,700
2014
128
The Chronicles of Narnia: The Lion, the Witch and the Wardrobe
$745,013,115
2005
129
Monsters University
$743,559,645
2013
130
The Matrix Reloaded
$741,847,937
2003
131
Up
$735,102,136
2009
132
Ne Zha
$726,264,074
2019
133
F9: The Fast Saga
$726,229,501
2021
134
Captain America: The Winter Soldier
$714,421,503
2014
135
The Twilight Saga: Breaking Dawn - Part 1
$712,205,856
2011
136
Dune: Part Two
$711,844,358
2024
137
The Twilight Saga: New Moon
$711,048,123
2009
138
Dawn of the Planet of the Apes
$710,644,566
2014
139
The Amazing Spider-Man 2
$709,734,012
2014
140
Transformers
$709,709,780
2007
141
Interstellar
$705,191,242
2014
142
Fast X
$704,875,015
2023
143
It
$704,242,888
2017
144
The Wandering Earth
$699,992,512
2019
145
The Twilight Saga: Eclipse
$698,513,085
2010
146
The Hunger Games
$695,220,619
2012
147
Mission: Impossible - Ghost Protocol
$694,713,380
2011
148
Mamma Mia!
$694,667,426
2008
149
Spider-Man: Across the Spider-Verse
$690,897,910
2023
150
Detective Chinatown 3
$686,257,563
2021
151
Mission: Impossible - Rogue Nation
$682,716,636
2015
152
Forrest Gump
$678,226,465
1994
153
Doctor Strange
$677,796,833
2016
154
The Sixth Sense
$672,806,432
1999
155
Man of Steel
$670,145,518
2013
156
Ice Age: The Meltdown
$667,094,506
2006
157
Kung Fu Panda 2
$665,692,281
2011
158
The Hunger Games: Mockingjay - Part 2
$661,456,867
2015
159
Justice League
$661,326,987
2017
160
Big Hero 6
$657,870,525
2014
161
Fantastic Beasts: The Crimes of Grindelwald
$655,755,901
2018
162
Pirates of the Caribbean: The Curse of the Black Pearl
$654,264,546
2003
163
Men in Black³
$654,213,485
2012
164
Star Wars: Episode II - Attack of the Clones
$653,780,724
2002
165
Thor: The Dark World
$644,783,140
2013
166
Moana
$643,332,467
2016
167
Sing
$634,338,409
2016
168
Wonka
$632,302,312
2023
169
Kung Fu Panda
$632,091,832
2008
170
The Incredibles
$631,688,498
2004
171
The Martian
$630,621,406
2015
172
Hancock
$629,443,428
2008
173
Water Gate Bridge
$626,571,697
2022
174
Fast Five
$626,140,012
2011
175
Iron Man 2
$623,933,331
2010
176
Ratatouille
$623,728,318
2007
177
Ant-Man and the Wasp
$622,674,139
2018
178
How to Train Your Dragon 2
$621,537,519
2014
179
Logan
$619,180,476
2017
180
The Lost World: Jurassic Park
$618,638,999
1997
181
Casino Royale
$616,577,552
2006
182
The Passion of the Christ
$612,060,372
2004
183
Life of Pi
$609,016,565
2012
184
Ready Player One
$607,874,422
2018
185
Transformers: The Last Knight
$605,425,157
2017
186
Madagascar: Escape 2 Africa
$603,900,354

2008
187
War of the Worlds
$603,873,504
2005
188
Tangled
$592,472,813
2010
189
Quantum of Solace
$589,593,688
2008
190
Men in Black
$589,390,539
1997
191
The Croods
$587,266,745
2013
192
The Hangover Part II
$586,764,305
2011
193
Iron Man
$585,796,247
2008
194
I Am Legend
$585,410,052
2007
195
Monsters, Inc.
$579,723,768
2001
196
Operation Red Sea
$579,330,426
2018
197
Night at the Museum
$574,482,479
2006
198
Fifty Shades of Grey
$569,651,467
2015
199
The Little Mermaid
$569,626,289
2023
200
Kong: Skull Island
$568,652,812
2017

In [112]:
data = []

In [123]:
for movi in All_Movies:
        st=movi.text
        data.append(st.split(' '))

In [124]:
df = pd.DataFrame(data)

In [125]:
df[0]

0                    1
1               Avatar
2       $2,923,706,026
3                 2009
4                    2
             ...
1595              2023
1596               200
1597             Kong:
1598      $568,652,812
1599              2017
Name: 0, Length: 1600, dtype: object

In [130]:
df[0].values.reshape(-1,4)

array([['1', 'Avatar', '$2,923,706,026', '2009'],
       ['2', 'Avengers:', '$2,799,439,100', '2019'],
       ['3', 'Avatar:', '$2,320,250,281', '2022'],
       ...,
       ['198', 'Fifty', '$569,651,467', '2015'],
       ['199', 'The', '$569,626,289', '2023'],
       ['200', 'Kong:', '$568,652,812', '2017']], dtype=object)

In [139]:
new_data=pd.DataFrame(df[0].values.reshape(-1,4),columns=['Rank','Title','Lifetime Gross','Year'])

In [144]:
top_200_movies=new_data[:200]

In [145]:
top_200_movies

    Rank      Title  Lifetime Gross  Year
0      1     Avatar  $2,923,706,026  2009
1      2  Avengers:  $2,799,439,100  2019
2      3    Avatar:  $2,320,250,281  2022
3      4    Titanic  $2,264,750,694  1997
4      5       Star  $2,071,310,218  2015
..   ...        ...             ...   ...
195  196  Operation    $579,330,426  2018
196  197      Night    $574,482,479  2006
197  198      Fifty    $569,651,467  2015
198  199        The    $569,626,289  2023
199  200      Kong:    $568,652,812  2017

[200 rows x 4 columns]

In [147]:
top_200_movies.to_csv("Top_200_Moies.csv",index=False)